<% provide(:title, 'API') %>
<h1>API</h1>
<p>
Please do not forget to create a free account and register your software product. Otherwise, you will not able to embed the API in your project.
</p>
Downloads:
<ul class="api-download-list">
<li><%= link_to "JAVA API", '/data/JAVA_API.zip' %></li>
<li><%= link_to "PHP API", '/data/PHP_API.zip' %></li>
</ul>


