<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	<b>Table of Contents</b>
	<ul class="toc">
	<li><a href="#registration">Registration</a></li>
	<li><a href="#upload">Ad Upload</a></li>
	<li><a href="#product">Product Creation</a></li>
	<li><a href="#product_block_tag">Blocking Tags In Products</a></li>
	<li><a href="#product_block_ad">Blocking Ads In Products</a></li>
	<li><a href="#bills">Paying Bills</a></li>
	<li><a href="#top_up">Topping Up Account Balance</a></li>
	<li><a href="#revenue">Revenue Withdrawal</a></li>
	<li><a href="#api">Embedding Service In Software Product</a></li>
	<li><a href="#costs">Ads Serving Costs For Publishers</a></li>
	<li><a href="#ad_rev">Software Developer Revenue</a></li>
	<li><a href="#ad_block">AdBlock</a></li>
	</ul>
	<br/>
	<b id="registration">Registration</b>
	<br/>
	In order to create a free user account, please click the <b>Sign Up!</b> button located at the home page and you will be redirected to the registration page. 
	Alternatively, click the <b>Log in</b> link located in the navigation bar at the top of the screen. You will be redirected to the log in page. Here, click 
	the <b>Sign up now!</b> link located just below the <b>Log in</b> button. Shortly, you will be redirected to the registration page.
	<br/>
	The registration form will require you to provide the following information:
	<ul>
	<li>Login - a username you will use to log into the service.</li>
	<li>Full name</li>
	<li>Company name</li>
	<li>User type - if you wish to advertise a product or a service, please select the <b>Ad Publisher</b> option.
	Otherwise, if you are a software developer and wish to incorporate the <b>AdPush</b> service into your product, please select the
	<b>Software Developer</b> option.</li>
	<li>Gender</li>
	<li>Date of birth - you must be at least 13 years old in order to use the service.</li>
	<li>Country</li>
	<li>Region</li>
	<li>City</li>
	<li>Zip Code</li>
	<li>Address</li>
	<li>Email</li>
	<li>Password</li> 
	</ul>
	After the registration is complete, the account verification email will be dispatched to the provided email address. You can always request the redispatchment of the email.
	You can also change the account's email address if you experience any issues with verifying the current email address.<br/>
	After you verify your account, you will be able to use the service.
	<br/><br/>

	<b id="upload">Ad Upload</b>
	<br/>
	In order to upload an ad, please access your ad publisher account. At the control panel (the very first page that appears after the authorisation),
	click the <b>Upload New Ad</b> button. 
	<br/>
	The ad upload form will require you to provide the following information:
	<ul>
	<li>Text - the description of the ad, or a slogan.</li>
	<li>Link</li>
	<li>Tags</li>
	<li>Targeted countries - the ad will not be served in the territories excluded from the list.</li>
	<li>Minimum age - the ad will not be served to the users younger than the specified minimum age.</li>
	<li>Maximum age - the ad will not be served to the users older than the specified maximum age.</li>
	</ul>
	Optionally, you can also upload a static image in <b>PNG</b> format or an animation in <b>GIF</b> format.
	<br/>
	After the new ad is uploaded, you will be redirected to the ad's page, where its details are listed.
	<br/><br/>

	<b id="product">Product Creation</b>
	<br/>
	In order to add new software product, please access your software developer account. At the control panel, click the 
	<b>Add New Software Product</b> button. After the redirect, type in your software product's title and click the 
	<b>Add Product</b> button. You will then be redirected to the page listing all software products added by the current user and notified of
	the new product's creation with the <b>New Software Product Added</b> message.
	<br/><br/>

	<b id="product_block_tag">Blocking Tags In Products</b>
	<br/>
	In order to restrict serving of the ads described with the specific tags to a product, please access your software developer account. At the control panel,
	click the <b>List Software Products</b> button. You will be redirected to the page listing all software products added by the current user.
	Select the products in which the restriction is to be carried out and click the <b>Block Tags In Selected Products</b> button. You will be redirected
	to the block selection page. Under the relevant product heading, please select the tags to be blocked. When you are done, click the
	<b>Block Selected Tags</b> button. You will be notified that the tags were blocked with the <b>Block Settings Updated</b> message.
	<br/><br/>

	<b id="product_block_ad">Blocking Tags In Ads</b>
	<br/>
	In order to restrict serving of a specific ad to a product, please access your software developer account. At the control panel, issue an ads search request via
	a search box. Among the search results, find the required ad and click the block ad icon (<%=image_tag('block.png', width: 16, height: 16, style: 'margin-bottom: 7px;')%>).
	A pop-up listing the products added by the current user will appear. Select the products in which the restriction is to be carried out and click the <b>Block Ad In Selected Products</b> button.
	You will be notified that the ad was blocked with the <b>Ad {ID} Block Parameters Modified</b> message.
	<br/><br/>

	<b id="bills">Paying Bills</b>
	<br/>
	If the ad publisher's bills for the previous months have not been paid, the <b>Bills For Previous Months Unpaid - Published Ads Won't Be Served</b> message will appear at the control panel.
	In order to pay the bills, click the <b>Pay Bills</b> button. You will be redirected to the bills pay page. Here, select the bill to be paid and the payment card to use (if none is associated with your account,
	you will be prompted to add one), enter the CVV/CVC, and click the <b>Pay The Bill</b> button. If the transaction is successful, you will be redirected to the bill payment notification page
	where you can download the invoice.

	<br/><br/>

	<b id="top_up">Topping Up Account Balance</b>
	<br/>
	As an ad publisher, you might want to use the opportunity to prepay your ads by topping up the account balance and receive a discount.
	In order to top up the account balance, access the control panel and click the <b>Top Up</b> button. You will be redirected to the top up page. Here, type in the top up amount and select the payment card to use (if none is associated with your account,
	you will be prompted to add one), then enter the CVV/CVC and click the <b>Top Up</b> button. If the transaction is successful, you will be redirected back to the control panel and notified so with the <b>Successful Top Up!</b> message.
	<br/><br/>

	<b id="revenue">Revenue Withdrawal</b>
	<br/>
	In order to withdraw the generated revenue, please access your software developer account. At the control panel, click the <b>Withdraw Revenue</b> button.
	You will be redirected to the revenue withdrawal page. Here, type in the amount to withdraw and select the bank account to which the money is to be transferred (if none is associated with your account,
	you will be prompted to add one) and click the <b>Withdraw</b> button. If the transaction is successful, you will be redirected to the revenue withdrawal notification page
	where you can download the invoice.<br/>
	<b>The minimum withdrawal amount is $25.00</b>
	<br/><br/>

	<b id="api">Embedding Service In Software Product</b>
	<br/>
	Please refer to the <%= link_to "API", api_path %> page for the instructions.
	<br/><br/>

	<b id="costs">Ads Serving Costs For Publishers</b>
	<br/>
	$1 per click ($0.9 if pre-paid)<br/>
	$0.0007 per impression ($0.0006 if pre-paid)
	<br/><br/>

	<b id="ad_rev">Software Developer Revenue</b>
	<br/>
	$0.68 per click<br/>
	$0.00036 per impression
	<br/><br/>
	
	<b id="ad_block">AdBlock</b>
	<br/>
	In some browsers with the <b>AdBlock</b> enabled, the ads images will not show. If you want the ads images to appear correctly, please turn off the <b>AdBlock</b>.
	<br/><br/>
</p>


