<% provide(:title, 'Home') %>
<div class="container center">
	<h1>WELCOME TO</h1>
	<%= image_tag("logo.png", class:"logo-home")%>
	<p><b>AdPush</b> is the only online advertising service you will ever need! It provides multiple ways of displaying <i>your</i> ads to the users. Our target audience is the Android videogamers, so we provide many ways of serving the ads: images, animations, or texts; when you need them and how you need them. 
	You can retrieve the ads directly, but should you choose not to, our highly sophisticated recommender algorithm will do all the tedious work for you! <i>Isn't that great?</i></p>
	<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary"%>
</div>

