<% provide(:title, 'Terms & Conditions') %>
<h1>Terms &amp; Conditions</h1>
<p>
	<b>Disclaimer</b>
	<br/>
	This service was created by Andrey Shevyakov (20055954) as the final year project for the Software Systems Development (Hons) course offered by the Waterford Insitute of Technology.
	The financial operations, such as topping up the account balance and paying the bills, are not performed in conjunction with the actual banking
	services; however, be aware that the provided payment cards' and bank accounts' information is stored in the service database, so please refrain 
	from providing real data.
	<br/><br/>

	<b>Introduction</b>
	<br/>
	These terms and conditions govern your use of this service. By using this service, you accept these terms and conditions in full. 
	If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this service. 
	You must be at least 13 years of age to use this service.  By using this service and by agreeing to these terms and conditions, 
	you warrant and represent that you are at least 13 years of age.
	<br/>
	This service uses cookies.  By using this service and agreeing to these terms and conditions, you consent to use of cookies.
	<br/><br/>

	<b>License</b>
	<br/>
	The code, assets, and functionality provided by the service is the sole property of Andrey Shevyakov, unless specified otherwise. It is restricted to copy or modify the service content in 
	any manner. Under any conditions, the submitted ads content remain the intellectual property of the submitting party.
	<br/>
	The service is provided without any warranties, express or implied.
	<br/><br/>

	<b>Acceptable Use</b>
	<br/>
	You must not use this service in any way that causes, or may cause, damage to the service or impairment of the availability or accessibility of the service; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
	<br/>
	You must not use this service to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
	<br/>
	You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this service without Andrey Shevyakov's express written consent.
	<br/><br/>

	<b>Restricted Access</b>
	<br/>
	Your user account may be disabled without notice or explanation.
	<br/><br/>

	<b>Limitations of Liability</b>
	<br/>
	Andrey Shevyakov is not responsible for any consequences of using the service.
	<br/><br/>

	<b>Variation</b>
	<br/>
	These terms and conditions may be revised. Revised terms and conditions will apply to the use of this service from the date of the publication of the revised terms and conditions. Please check this page regularly to ensure you are familiar with the current version.
	</br></br>

	<b>Ownership</b>
	<br/>
	The service's ownership may be transferred without notice or explanation.
	<br/><br/>
	
	<b>Contacts</b>
	<br/>
	The service's owner can be contacted at <a href="mailto:ieshevyakov@gmail.com?Subject=AdPush" target="_top">ieshevyakov@gmail.com</a>.
	<br/><br/>

	<b>Credit</b>
	<br/>
	This document was created using a modified Contractology template available at <a href="http://www.freenetlaw.com">http://www.freenetlaw.com</a>.
</p>


