<% provide(:title, "Ad Uploaded") %>
<h1 class="center">Ad Uploaded</h1>
<div class="container">

<div class="row center" style="margin-top:30px; margin-bottom:30px">
Ad <b>N.<%= rand(3...10)%></b> successfully uploaded!
</div>
<div class="row center">
<%= link_to "Add One More Ad!", back_path(id: 3), class: "btn btn-lg btn-primary btn-orange btn-same" %>
</div>
</div>

