<% @user = User.find(params[:user_id]) %>
<% begin %>
<% log_out %>
<% rescue %>
<% end %>
<% provide(:title, @user.name) %>
<h1>E-Mail Successfully Verified</h1>
<div class="container">
	Dear <% if @user.gender == 'm' %> Mr. <%= @user.name %> <%else%> Ms <%= @user.name %><%end%>, your <b><i>AdPush</i></b> account has been successfully verified.
	Now you can log in.
</div>
