<% provide(:title, 'Edit Ad') %>
<%= javascript_include_tag 'jquery-ui.min' %>
<%= javascript_include_tag 'jquery.multiselect.min' %>
<%= javascript_include_tag 'inline/multiselect_countries_ad_upload'%>
<h1>Edit Ad <%= @ad.id %></h1> 
<div class="container">
	<%= form_for(@ad) do |f| %>
		<%= render 'shared/error_messages_ad' %>   

		<div class="row">
			<%= f.label :desc, "Text:", class: "fr"%>
			<%= f.text_field :desc %>
		</div>

		<div class="row">
			<%= f.label :link, "Link:", class: "fr"%>
			<%= f.text_field :link %>
		</div>

		<div class="row">
			<%= f.label :countries, "Targeted Countries:", class: "fr" %>
			<%= f.select :countries, countries_list %>
		</div>

		<%= hidden_field_tag "c_vals"%>
		<%= hidden_field_tag :init_c_vals, @ad.countries %>

		<div class="row">
			<%= f.label :min_age, "Minimum Age:", class: "fr" %>
			<%= f.number_field :min_age, value: @ad.min_age, in: 0..100 %>
		</div>

		<div class="row">
			<%= f.label :max_age, "Maximum Age:", class: "fr" %>
			<%= f.number_field :max_age, value: @ad.max_age, in: 0..100 %>
		</div>

		<div class="row">
			<%= f.label :content, "File: " %>
			<%= f.file_field :content, accept: 'image/png,image/gif,image/tiff' %>
		</div>

		<div class="row" style="margin-bottom: 15px;">
			<span><b>Remove Image: </b></span>
			<%= check_box_tag :remove_image, value:"1"%>
		</div>

		<div class="row">
			<%= f.submit "Save Changes", id:"submit-button", class: "btn btn-primary " %>
		</div>
	<% end %>
</div>
