<% provide(:title, 'Upload New Ad') %>
<%= javascript_include_tag 'jquery-ui.min' %>
<%= javascript_include_tag 'jquery.multiselect.min' %>
<%= javascript_include_tag 'inline/multiselect_countries_ad_upload'%>
<h1>Upload New Ad</h1>
<div class="container">
<%= form_for(@ad) do |f| %>
  <%= render 'shared/error_messages_ad' %>   
  
  <div class="row">
    <%= f.label :desc, "Text:", class: "fr"%>
    <%= f.text_field :desc %>
  </div>
  
  <div class="row">
    <%= f.label :link, "Link:", class: "fr"%>
    <%= f.text_field :link %>
  </div>
  
  <div id="tags-area">
	  <div class="row">
		<%= f.label :tags, "Tags:", class: "fr" %>
		<% begin %>
		<% if @ad.tags.join(" ").strip.empty? %>
		<%= f.text_field :tags, value: ""%>
		<% else %>
		<% @ad.tags = @ad.tags.delete_if { |t| t.strip.blank? } %>
		<% @ad.tags = @ad.tags.collect { |t| t.strip || t} %>
		<%= f.text_field :tags, value: @ad.tags.join(", ") %>
		<% end %>
		<% rescue %>
		<%= f.text_field :tags %>
		<% end %>
	  </div>
	  <div class="row" id="tags-help">
		<span>Separate tags with commas.</span>
	  </div>
  </div>
  
  <div class="row">
	<%= f.label :countries, "Targeted Countries:", class: "fr" %>
	<%= f.select :countries, countries_list %>
  </div>
  
  <%= hidden_field_tag "c_vals"%>
  
  <div class="row">
	<%= f.label :min_age, "Minimum Age:", class: "fr" %>
	<%= f.number_field :min_age, value: 0, in: 0..100 %>
  </div>
  
  <div class="row">
	<%= f.label :max_age, "Maximum Age:", class: "fr" %>
	<%= f.number_field :max_age, value: 100, in: 0..100 %>
  </div>
  
  <div class="row" style="margin-bottom: 15px;">
	<%= f.label :content, "File: " %>
	<%= f.file_field :content, accept: 'image/png,image/gif,image/tiff' %>
  </div>
  
  <div class="row">
    <%= f.submit "Upload Ad", id:"submit-button", class: "btn btn-primary " %>
  </div>
<% end %>
</div>
