<% provide(:title, @ad.link) %>
<%= javascript_include_tag 'inline/resize_ad_image'%>
<%= javascript_include_tag 'inline/show_served_countries'%>
<h1>Ad <%= @ad.id%></h1>
<div class="container">
	<div class="row center">
		<span>Ad Publisher: <%=User.find(@ad.publisher).company%></span><br/>
		<span>Ad Text: <%=@ad.desc%></span><br/>
		<span>Ad Link: <%=link_to @ad.link%></span><br/>
		<span>Ad Age Range: <%=@ad.min_age%> - <%=@ad.max_age%></span><br/><br/>
	</div>
	<div class="row ad-image-area center">
		<%= image_tag @ad.content.url, class:"ad-img" %>
	</div>
	<br/>
	<div class="row center">
		<% if @ad.content.url == '/contents/original/missing.png' %>
		    <a class="btn btn-primary btn-show-ad-countries btn-show-ad-countries-less-mt">Show Countries Served</a>
		<% else %>
			<a class="btn btn-primary btn-show-ad-countries">Show Countries Served</a>
		<% end %>
		<div class="countries-served">
			Countries Served: 
			<% countries_list.each_with_index do |c, i| %>
				<% @ad.countries.sort_by{|e| e}.each_with_index do |ac, iac| %>
					<% if ac == i %>
						<%=c%><% if iac != @ad.countries.size - 1 %>,<%else%>.<%end%>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row tags-area">
		<h2 style="text-align: left">Tags</h2>
		<span>
			<% @ad.tags.each do |t| %>
			<% @tdisp = Tag.find_by_name(t) %>
			<% if @tdisp.name.length <= 60 %>
			<%= link_to @tdisp.name, @tdisp, class:"btn btn-tag" %>
			<% else %>
			<%= link_to @tdisp.name[0..60] + "...", @tdisp, class:"btn tag-btn" %>
			<% end %>
			<% end %>
		</span>
	</div>
	<div class="row" style="margin-top: 15px">
		<% if current_user.utype == 0 %>
		<%= link_to "Upload More Ads", upload_path, class: "btn btn-primary " %>
		<% end %>
		<%= link_to "Return to Control Panel", current_user, class: "btn btn-primary " %>
		<% if current_user.id == @ad.publisher %>
		<%= link_to "Edit Ad", edit_path(:id => @ad.id), class: "btn btn-primary " %>
		<%= link_to "Delete Ad", delete_ad_path(:id => @ad.id), class: "btn btn-primary ", method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>
	</div>
</div>
