<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row center login-form">
	<div class="col-md-6 col-md-offset-3">
	
		<%= form_for(:session, url: login_path) do |f| %>

			<div class="row">
				<%= f.label :login_or_email, "Username/ Email" %>
				<%= f.text_field :login_or_email, class: 'form-control'%>
			</div>

			<div class="row">
				<%= f.label :password %>
				<%= f.password_field :password, class: 'form-control' %>
			</div>

			<div class="row">
				<%= f.submit "Log in", class: "btn btn-primary" %>
			</div>
			
		<% end %>

		<div class="row">
			New user? <%= link_to "Sign up now!", signup_path %>
		</div>

	</div>
</div>

