<% provide(:title, @user.name + " - Revenue Withdrawal") %>
<h1>Revenue Withdrawal</h1>
<div class="container">
	<div class="row">
		You have successfully withdrawn $<%=@invoice.amount%>.
	</div>
	<div class="row">
		<%= link_to "Download Invoice", generate_invoice_pdf_path(:invoice => @invoice), class: "btn btn-primary " %>
	</div>
	<div class="row">
		<%= link_to "Return To Control Panel", current_user, class: "btn btn-primary " %>
	</div>
</div>

