Welcome to the <b>AdPush</b> service!
<br/>
============================
<br/><br/>
Follow this link in order to activate your account: <a href='<%= @url %>'>activate account</a>
<br/><br/>
Best regards,
<br/>
- <b>AdPush</b> administration
