<% provide(:title, @user.name + " - Bill Payment") %>
<h1>Bill Payment</h1>
<div class="container">
	<div class="row">
		<%= @bill.created_at_label %> bill was successfully paid.
	</div>
	<div class="row">
		<%= link_to "Download Invoice", generate_bill_pay_invoice_pdf_path(:bill => @bill), class: "btn btn-primary " %>
	</div>
	<div class="row">
		<%= link_to "Return To Control Panel", current_user, class: "btn btn-primary " %>
	</div>
</div>
