<% provide(:title, @user.name + " - Preferences") %>
<h1>Preferences</h1>
<div class="container">

<%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>   

		<div class="row">
			<%= f.label :color_scheme, "Color Scheme:", class: "fr" %>
			<%= f.select :color_scheme, options_for_select([['Orange', 0], ['Silver', 1]], @user.color_scheme) %>
		</div>
		
		<div class="row">
			<%= f.label :font_size, "Font Size:", class: "fr" %>
			<%= f.select :font_size, options_for_select([['Normal', 0], ['Large', 1], ['Largest', 2]], @user.font_size) %>
		</div>

		<%= hidden_field_tag :prefs_update, "y" %>
		
		<div class="row">		
			<%= f.submit "Save Changes", class: "btn btn-primary " %>
		</div>
<% end %>

</div>
