<% provide(:title, @user.name + " - Personal Details") %>
<h1>Personal Details</h1>
<div class="container">

	<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages' %>   

			<div class="row">
				<%= f.label :name, "Name:", class: "fr" %>
				<%= f.text_field :name %>
			</div>
			
			<div class="row ten-px-padding">		
				<%= f.label :gender, "Gender:", class: "fr" %>
				<%= f.label :gender, "Male" %>
				<%= f.radio_button :gender, "Male", checked: true %>
				<%= f.label :gender, "Female" %>
				<%= f.radio_button :gender, "Female" %>
			</div>
			
			<div class="row">
				<%= f.label :dob, "Date of Birth:", class: "fr" %>
				<%= f.date_field :dob, :value => (Time.now - 18.years - 1.day).strftime('%Y-%m-%d') %>
			</div>
			
			<div class="row">
				<%= f.label "Country:", class: "fr" %>
				<%= f.select :country, countries_list %>
			</div>
			
			<div class="row">		
				<%= f.label :state, "Region:", class: "fr", id: "state_label" %>
				<%= f.text_field :state %>
			</div>
			
			<div class="row">		
				<%= f.label :city, "City:", class: "fr" %>
				<%= f.text_field :city %>
			</div>
			
			<div class="row">		
				<%= f.label :zip, "Zip Code:", class: "fr", id: "zip_label" %>
				<%= f.text_field :zip %>
			</div>
			
			<div class="row">		
				<%= f.label :address, "Address:", class: "fr" %>
				<%= f.text_field :address %>
			</div>

			<div class="row">		
				<%= f.label :email, "Email: ", class: "fr" %>
				<%= f.email_field :email %>
			</div>
			
			<div class="row">		
				<%= label_tag :old_password, "Old Password:", class: "fr" %>
				<%= password_field_tag :old_password %>
			</div>
			
			<div class="row">		
				<%= f.label :password, "New Password:", class: "fr" %>
				<%= f.password_field :password %>
			</div>
			
			<div class="row">		
				<%= f.label :password_confirmation, "New Password Confirmation:", class: "fr" %>
				<%= f.password_field :password_confirmation %>
			</div>
			
			<div class="row">		
				<%= f.submit "Save Changes", class: "btn btn-primary " %>
			</div>
	<% end %>

</div>
