<% provide(:title, 'Sign Up') %>
<h1 class= "center">Sign Up</h1>
    
    <%= form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>   
		
		<div class="row">
	        <%= f.label :login, "Login:", class: "fr" %>
			<%= f.text_field :login %>
		</div>
		
		<div class="row">
			<%= f.label :name, "Full Name:", class: "fr" %>
			<%= f.text_field :name %>
		</div>

		<div class="row">		
			<%= f.label :company, "Company Name:", class: "fr" %>
			<%= f.text_field :company %>
		</div>
		
		<div class="row">
			<%= f.label :utype, "User Type:", class: "fr" %>
			<%= f.select :utype, [['Ad Publisher', 0],['Software Developer', 1]] %>
		</div>
		
		<div class="row ten-px-padding">		
			<%= f.label :gender, "Gender:", class: "fr" %>
			<%= f.label :gender, "Male" %>
			<%= f.radio_button :gender, "Male", checked: true %>
			<%= f.label :gender, "Female" %>
			<%= f.radio_button :gender, "Female" %>
		</div>
		
		<div class="row">
			<%= f.label :dob, "Date of Birth:", class: "fr" %>
			<%= f.date_field :dob, :value => (Time.now - 18.years - 1.day).strftime('%Y-%m-%d') %>
		</div>
		
		<div class="row">
			<%= f.label "Country:", class: "fr" %>
			<%= f.select :country, countries_list %>
		</div>
		
		<div class="row">		
			<%= f.label :state, "Region:", class: "fr", id: "state_label" %>
			<%= f.text_field :state %>
		</div>
		
		<div class="row">		
			<%= f.label :city, "City:", class: "fr" %>
			<%= f.text_field :city %>
		</div>
		
		<div class="row">		
			<%= f.label :zip, "Zip Code:", class: "fr", id: "zip_label" %>
			<%= f.text_field :zip %>
		</div>
		
		<div class="row">		
			<%= f.label :address, "Address:", class: "fr" %>
			<%= f.text_field :address %>
		</div>
		
		<div class="row">		
			<%= f.label :email, "Email:", class: "fr" %>
			<%= f.email_field :email %>
		</div>
		
		<div class="row">		
			<%= f.label :password, "Password:", class: "fr" %>
			<%= f.password_field :password %>
		</div>
		
		<div class="row">		
			<%= f.label :password_confirmation, "Password Confirmation:", class: "fr" %>
			<%= f.password_field :password_confirmation %>
		</div>
		
		<div class="row">		
			<%= f.submit "Create Account", class: "btn btn-primary " %>
		</div>
	<% end %>
	
<%=javascript_include_tag "inline/country_change_listener"%>
