<% provide(:title, @user.name + " - Bills") %>
<h1>Bills</h1>
<div class="container">
	<% if Bill.where("created_at < ?", Time.mktime(Date.today.year, Date.today.month)).where(paid: false).where(user_id: @user.id).length > 0 %>
	<%= form_tag pay_bills_action_path do %>
	<% if @user.payment_cards.length == 0 %>
	<div class="row">
		Please, <%=link_to "add a payment card", add_payment_card_path(:bill_pay => true)%> to proceed.
	</div>
	<% else %>
	<div class="row">
		<%= label_tag :bill, "Bill:", class: "fr" %>
		<%= select_tag :bill, options_from_collection_for_select(@user.bills.where("created_at < ?", Time.mktime(Date.today.year, Date.today.month)).where(paid: false), "id", "created_at_label") %>
	</div>
	<div class="row">
		<%= label_tag :payment_card, "Payment Card:", class: "fr" %>
		<%= select_tag :payment_card, options_from_collection_for_select(@user.payment_cards, "id", "card_num") %>
	</div>
	<div class="row">
		<%=link_to "Add Payment Card", add_payment_card_path(:bill_pay => true), class: "btn btn-primary  nmb"%>
	</div>
	<div class="row">
		<%= label_tag :cvv, "CVV/CVC:", class: "fr" %>
		<%= text_field_tag :cvv %>
	</div>
	<% end %>
	<% if @user.payment_cards.length != 0 %>
	<div class="row">
		<%= submit_tag "Pay The Bill", class: "btn btn-primary ", id: "bill-pay-btn", disabled: "disabled"%>
	</div>
	<% end %>
	<% end %>
	<% else %>
	You Have No Bills To Pay.
	<% end %>
</div>

<%=javascript_include_tag "inline/bill_pay_listener"%>
