<%=javascript_include_tag "chartkick.js"%>
<%=javascript_include_tag "inline/performance"%>
<%=javascript_include_tag "//www.google.com/jsapi" %>
<% provide(:title, "Performance Analysis") %>
<h1>Performance Analysis</h1>
<div class="container">
	<div class="row">
		<%=select_tag :perf_selector, options_for_select(["Impressions By Month", "Impressions By Year", "Clicks By Month", "Clicks By Year", "Top 5 Countries By Clicks", "Top 5 Countries By Impressions", "Top 5 Most Retrieved Ads", "Top 5 Most Clicked Ads", "Top 5 Most Retrieved Tags", "Top 5 Most Clicked Tags", "Top 5 Ages By CTR", "CTR", "CTR Dynamics", "Impressions Dynamics", "Clicks Dynamics"])%>
	</div>
	<div class="row">
		<h3>Ads Filter</h3>
	</div>
	<div class="row">
		<%= select_tag :ads_filter, options_from_collection_for_select(Ad.all, "id", "link"), multiple: true, size: 5, data: {toggle: "tooltip"}, title: "Use CTRL to select and deselect ads."%>
	</div>
	<div class="row">
		<span id="select_all_ads" class="btn btn-primary">Select All Ads</span>
		<span id="deselect_all_ads" class="btn btn-primary">Deselect All Ads</span>
	</div>
	<div class="row">
		<h2 id="perf_capt">Impressions By Month</h2>
	</div>

	<%= hidden_field_tag :cur_year, Date.today.year %>
	<% Ad.all.each do |ad| %>
	<% if ad.impressions != nil %>
	<% ad.impressions.each do |val| %>
	<%= hidden_field_tag :ad_info, ad.link + "¬" + ad.id + "¬" + ad.tags.to_s, class: "ad-info" %>
	<%= hidden_field_tag :imp_country, val[2] + "¬" + ad.id, class: "imp-country" %>
	<% if val[5] == nil %>
	<% val[5] = "Unknown" %>
	<% elsif val[5] = "m" %>
	<% val[5] = "Male" %>
	<% else %>
	<% val[5] = "Female" %>
	<% end %>
	<% if val[4] == nil %>
	<% val[4] = "Unknown" %>
	<% end %>
	<%= hidden_field_tag :imp_date, val[3] + "¬" + ad.id + "¬" + val[5] + "¬" + val[4], class:"imp-date" %>
	<% end %>
	<% end %>
	<% if ad.clicks != nil %>
	<% ad.clicks.each do |val| %>
	<%= hidden_field_tag :ad_info_click, ad.id.to_s + "¬" + ad.tags.to_s, class: "ad-info-click" %>
	<%= hidden_field_tag :click_country, val[2] + "¬" + ad.id, class: "click-country" %>
	<% if val[5] == nil %>
	<% val[5] = "Unknown" %>
	<% elsif val[5] = "m" %>
	<% val[5] = "Male" %>
	<% else %>
	<% val[5] = "Female" %>
	<% end %>
	<% if val[4] == nil %>
	<% val[4] = "Unknown" %>
	<% end %>
	<%= hidden_field_tag :click_date, val[3] + "¬" + ad.id + "¬" + val[5] + "¬" + val[4], class:"click-date" %>
	<% end %>
	<% end %>
	<% end %>
	
	<div class="row">
		<div id="chart"></div>
	</div>
	<div class="row">
		<div id="top"></div>
	</div>
</div>
