<% provide(:title, @user.name) %>
<% @tc = Tag.count %>
<% if @user.email_verification_key != nil %>
<h1>Email Verification</h1>
<% else %>
<h1>Control Panel</h1>
<% end %>
<div class="container">
<% if @user.email_verification_key != nil %>
Please verify your email to continue.<br/>
If you can't find it, make sure you checked the "Spam" folder.</br>
Alternatively, <%= link_to "request repeat verification email", resend_verification_email_path(user_id: @user.id) %>.
<br/><br/>
If no recommendation listed above works, you can also change your email address: 
<br/>
<div id="email-change-form">
<%= form_for(@user) do |f| %>
<%= f.label :email, "New email:" %>
<%= f.email_field :email %>
<%= hidden_field_tag :email_update, "y" %>
<%= f.submit "Change Email"  %>
<% end %>
</div>
<% else %>
<div class="row"> 
<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<div class="input-append">
<% if cookies[:search_query] == nil %>
<%= text_field_tag :search, params[:search], id: "search-bar", placeholder: "Search Ads" %>
<% else %>
<%= text_field_tag :search, params[:search], id: "search-bar", placeholder: "Search Ads", value: cookies[:search_query].strip%>
<% end %>
<button type="submit" id="search-submit-btn"><i class="glyphicon glyphicon-search"></i></button>
</div>
<%= check_box_tag :show_images, params[:show_images], checked: "unchecked"%>
<span>Display Images</span>
<% end %>
</div>
<% if cookies[:search_request] == "true" %>
<div class="row search-results">
<% search_results(cookies[:search_query]) %>
<% if @ads.length != 0 %>
<ul class="ads-list">
<% @ads.each do |a| %>
<% if a.desc.length <= 60 %>
<li>
<%= link_to a.desc + " - " + a.link, a, class: "btn " %>
<% if cookies[:show_images] == "on" %>
<div class="search-img-area">
<%= image_tag a.content.url, class:"ad-img ad-img-small" %>
</div>
<% else %>
<% end %>
<% if a.publisher == current_user.id %>
<%= link_to image_tag("remove.png", size: "32x32", alt: "Remove Ad", class: "btn btn-delete-ad"), delete_ad_path(:id => a.id), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if current_user.utype == 1 and current_user.products.length != 0%>
<div class="block_selection container" id="<%=a.id%>">
<% ad_blocked_in_products(a.id)%>


<ul class="products-list <%=a.id%>">

<% @unblock = true %>
<% current_user.products.each do |p| %>


<% if @block_list.include? p.id %>
<li class="<%=a.id%> btn btn-product-selected">
<% else %>
<% @unblock = false %>
<li class="<%=a.id%> btn btn-product">
<% end %>


<% if p.title.length <= 60 %>
<%= p.title %>
<% else %>
<%= p.title[0..60] + "..." %>
<% end %>
</li>
<% end %>
</ul>
<span class="btn ad-block-btn btn-primary <%=a.id%>">Block Ad In Selected Products</span>
</div>
<% if @unblock == false %>
<%= image_tag("block.png", size: "32x32", alt: "Block Ad", class: "btn btn-block-ad " + a.id, data: {toggle: "tooltip"}, title: "Block ad in some products") %>
<% else %>
<%= image_tag("unblock.png", size: "32x32", alt: "Unblock Ad", class: "btn btn-block-ad " + a.id, data: {toggle: "tooltip"}, title: "Unblock ad in some products") %>
<% end %>
<% end %>
</li>
<% else %>
<li><%= link_to a.desc[0..60] + "... - " + a.link, a, class: "btn " %></li>
<% end %>
<% end %>
</ul>
</div>
<% else %>
<div class="search-results no-search-results">
No Relevant Ads
</div>
</div>
<%end%>
<div class="row">
<span class="btn btn-primary btn-hide">Hide Search Results</span>
</div>
<% if @tc > 0 %>
<hr/>
<% end %>
<% cookies[:search_request] = nil %>
<% else %>
<% end %>

<div class="row">
<% if @tc > 0 %>
<%= link_to "List All Tags", list_tags_path, class: "btn btn-primary" %>
<% end %>
</div>
<hr class="main-divider"/>
<% if @user.utype == 0 %>
<div class="row">Current Month Billing: $<%=Bill.where("created_at >= ? and created_at < ?", Time.mktime(Date.today.year, Date.today.month), Time.mktime(Date.today.year, Date.today.month + 1)).find_by_user_id(@user.id).amount%></div>
<div class="row">Prepaid Balance: $<%=@user.balance%></div>
<% if Bill.where("created_at < ?", Time.mktime(Date.today.year, Date.today.month)).where(paid: false).where(user_id: @user.id).length > 0 %>
<div class="row"><%= link_to "Pay Bills", pay_bills_path, class: "btn btn-primary btn-pay-bills"%></div>
<% end %>
<div class="row"><%= link_to "Top Up", top_up_path, class: "btn btn-primary "%></div>
<div class="row"><%= link_to "Add Payment Card", add_payment_card_path, class: "btn btn-primary nmb"%></div>
<div class="row"><%= link_to "Upload New Ad", upload_path, class: "btn btn-primary "%></div>
<% end %>
<% if @user.utype == 1 %>
<div class="row"><%=link_to "Add Bank Account", add_bank_details_path, class: "btn btn-primary " %></div>
<% end %>
<% if Ad.count != 0 %>
<div class="row"><%= link_to "Performance Analysis", performance_analysis_path, class: "btn btn-primary " %></div>
<% end %>
<div class="row"><%= link_to "Edit Personal Details", details_path, class: "btn btn-primary " %></div>
<div class="row"><%= link_to "Edit Preferences", preferences_path, class: "btn btn-primary " %></div>
<hr class="main-divider"/>
<% if @user.utype == 0 and @ads != nil %>
<div class="row"><h2>Published Ads</h2></div>
<div class="row">
<span class="btn btn-primary" id="toggle-published-ads">Show</span>
</div>
<div class="row published-ads-area">
<ul class="ads-list">
<% puts @ads %>
<% @ads.each do |a| %>
<% if a.desc.length <= 60 %>
<li><%= link_to a.desc + " - " + a.link, a, class: "btn " %>
<% else %>
<li><%= link_to a.desc[0..60] + "... - " + a.link, a, class: "btn " %>
<% end %>
<%= link_to image_tag("remove.png", size: "32x32", alt: "Remove Ad", class: "btn btn-delete-ad"), delete_ad_path(:id => a.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
<% end %>
<% end %>
</ul>
<% if @user.utype == 1 %>
<div class="row" style="margin-top: 15px;">
<span>Current balance: $<%=@user.balance%></span>
</div>
<div class="row">
<% if @user.balance < 25 %>
<%= link_to "Withdraw Revenue", withdraw_revenue_path, class: "btn btn-primary ", disabled: "disabled", data: {toggle: "tooltip"}, title: "Insufficient funds (must be more than $25)" %>
<% else %>
<%= link_to "Withdraw Revenue", withdraw_revenue_path, class: "btn btn-primary "%>
<% end %>
</div>
<div class="row">
<%= link_to "List Software Products", products_path, class: "btn btn-primary " %>
</div>
<div class="row">
<%= link_to "Add New Software Product", add_product_path, class: "btn btn-primary " %>
</div>
<% end %>
</div>
<% end %>

<%= hidden_field_tag :checkbox_checked, cookies[:show_images] %>
<%=javascript_include_tag "jquery.bpopup.min"%>
<%=javascript_include_tag "inline/single_ad_block_listener"%>
<%=javascript_include_tag "inline/products_block_single_ad"%>
<%=javascript_include_tag "inline/published_ads_hide_listener"%>
<%=javascript_include_tag "inline/search_results_hide_listener"%>
<%=javascript_include_tag "inline/blank_search_listener"%>
<%=javascript_include_tag "inline/checkbox_state_setter"%>
<%=javascript_include_tag "inline/image_show_listener"%>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>
