<% provide(:title, @user.name + " - Top Up") %>
<h1>Top Up</h1>

<%= form_tag top_up_action_path do %>
	<div class="row"><%= label_tag :payment_card, "Payment Card:", class: "fr" %></div>
	<% if @user.payment_cards.length == 0 %>
		<div class="row"><span>Please, <%=link_to "add a payment card", add_payment_card_path(:top_up => true)%> to proceed.</span></div>
	<% else %>
		<div class="row"><%= select_tag :payment_card, options_from_collection_for_select(@user.payment_cards, "id", "card_num") %></div>
		<div class="row"><%=link_to "Add Payment Card", add_payment_card_path(:top_up => true), class: "btn btn-primary nmb"%></div>
		<div class="row">
			<%= label_tag :cvv, "CVV/CVC:", class: "fr" %>
			<%= text_field_tag :cvv %>
			<%= label_tag :top_up_amount, "Top Up Amount:", class: "fr" %>
			<%= text_field_tag :top_up_amount, '$0' %>
		</div>
	<%end%>
	<div class="row"><%= submit_tag "Top Up", class: "btn btn-primary ", id: "top-up-btn", disabled: "disabled" %></div>
<% end %>

<%=javascript_include_tag "inline/top_up_listener"%>
