<% provide(:title, @user.name + " - Revenue Withdrawal") %>
<h1>Revenue Withdrawal</h1>
<div class="container">
		<div class="row">
		<%= form_for @invoice, :url => withdraw_path do |f| %>
			<%= label_tag :amount_to_withdraw, "Withdrawal Amount:", class: "fr" %>
			<%= text_field_tag :amount_to_withdraw, @user.balance %>
			<%= label_tag :bank_acc, "Bank Account:", class: "fr" %>
			<% if @user.bank_infos.length == 0 %>
				Please, <%=link_to "add a bank account", add_bank_details_path(:from_withdrawal => true)%> to proceed.
			<% else %>
				<%= select_tag :bank_acc, options_from_collection_for_select(@user.bank_infos, "id", "account_number") %>
			<% end %>
		</div>
		<% if @user.bank_infos.length > 0 %>
			<div class="row"><%= link_to "Add Bank Account", add_bank_details_path(:from_withdrawal => true), class: "btn btn-primary "%></div>
		<% end %>
		<div class="row">
			<% if @user.bank_infos.length == 0 %>
				<%=f.submit "Withdraw", class: "btn btn-primary btn-withdraw", disabled: "disabled"%>
			<% else %>
				<%=f.submit "Withdraw", class: "btn btn-primary btn-withdraw"%>
			<% end %>
		<% end %>
		</div>
</div>

<%=javascript_include_tag "inline/withdrawal_sum_listener"%>
