<% if @ad.errors.any? %>
<% fix_num = 0 %>
<% @ad.errors.full_messages.each do |msg| %>
<% if msg == "Content file size must be less than 2 MB" %>
<% fix_num = fix_num + 1 %>
<% elsif msg == "Content content type is invalid" %>
<% fix_num = fix_num + 1 %>
<% elsif msg == "Tags can't be empty" %>
<% fix_num = fix_num + 1 %>
<% end %>
<% end %>
<div id="error_explanation">
<div class="alert alert-danger">
The form contains <%= pluralize(@ad.errors.count - fix_num, "error") %>.
</div>
<ul>
<% @ad.errors.full_messages.each do |msg| %>
<% if msg == "Tags replace" %>
<li>Only 10 tags are allowed</li>
<% elsif msg == "Content file size must be less than 2 MB" %>
<% elsif msg == "Content content type is invalid" %>
<% elsif msg == "Tags can't be empty" %>
<% elsif msg == "Content content type is invalid (accepted formats: PNG, TIFF, GIF)" %>
<% else %>
<li><%= msg %></li>
<% end %>
<% end %>
</ul>
</div>
<% end %>

