<% if @feedback.errors.any? %>
<% @feedback.errors.full_messages.each do |msg| %>
<% end %>
<div id="error_explanation">
<div class="alert alert-danger">
The form contains <%= pluralize(@feedback.errors.count, "error") %>.
</div>
<ul>
<% @feedback.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

