<% if @payment_card.errors.any? %>
<% @payment_card.errors.full_messages.each do |msg| %>
<% end %>
<div id="error_explanation">
<div class="alert alert-danger">
The form contains <%= pluralize(@payment_card.errors.count, "error") %>.
</div>
<ul>
<% @payment_card.errors.full_messages.each do |msg| %>
<% if msg == "Expiry date mm expired" %>
<li>Card is past its expiration date</li>
<% elsif msg == "Card number must be unique" %>
<li>Card is already registered in the system</li>
<% else %>
<li><%= msg %></li>
<% end %>
<% end %>
</ul>
</div>
<% end %>

