<% if @user.errors.any? %>
<div id="error_explanation">
<div class="alert alert-danger">
The form contains <%= pluralize(@user.errors.count, "error") %>.
</div>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<% if msg == "Name must be provided" %>
<li>Full name must be provided</li>
<% else %>
<li><%= msg %></li>
<% end%>
<% end %>
</ul>
</div>
<% end %>
