<% if cookies[:products] != nil%>
<% @restore = cookies[:products] %>
<% cookies[:products] = cookies[:products].split("\n&\n") %>
<% cookies[:products] = cookies[:products].join("¬") %>
<% cookies[:products] = cookies[:products].tr("\n", "") %>
<% cookies[:products] = cookies[:products].split("¬") %>
<% end %>
<% provide(:title, "Block Tags In Products") %>
<h1>Block Selection</h1>
<div class="container">
	<% if cookies[:products] == nil or Ad.count == 0 %>
	<% if Product.find_by_user_id(current_user.id) == nil %>
	You did not add any products.
	<% elsif Ad.count == 0 %>
	No ads were published yet.
	<% else %>
	Please, select some products <%= link_to "here", products_path%>
	<% end %>
	<% else %>
	<% puts 'BLYAAAAAA' %>
	<% cookies[:products][0].split("\t\t").each_with_index do |p, i| %>
		<% if i % 2 != 0 %>
			<span class="selected-product" style="display: none;"><%=p%></span>
			<div class="row">
				<% @product = Product.find_by_title(p) %>
				Product <%=@product.title %>
				<ul class="np">
					<% Tag.all.each do |t| %>
					<% @selected = false %>
					<% Ad.all.each do |a| %>
					<% if a.blocked_tags != nil %>
					<% a.blocked_tags.each do |bt| %>
					<% if bt[1] == t.id and bt[0] == @product.id%>
					<% @selected = true %>
					<% break %>
					<% end %>
					<% end %>
					<% end %>
					<% end %>
					<% if @selected == false %>
					<li class="btn btn-tag <%=@product.title.split(" ").join("¬")%>">
					<% else %>
					<li class="btn btn-tag <%=@product.title.split(" ").join("¬")%> btn-tag-selected">
					<% end %>
					<%= t.name %>
					</li>
					<% end %>
				</ul>
			</div>
		<% end %>
	<% end %>
	<div class="row">
		<span class="btn btn-primary" id="block-btn">Block Selected Tags</span>
	</div>
	<% end %>
</div>
<% if @restore != nil %>
<% cookies[:products] = {value: @restore, expires: 1.hour.from_now} %>
<% end %>
<%=javascript_include_tag "inline/block_tags_helper"%>

