<% provide(:title, "Tags") %>
<h1>Tags</h1>
<div class="container">
	<% if @tags.length == 0 %>
	<div class="row">
		No Relevant Tags
	</div>
	<% else %>
	<ul class="tags-list">
		<% @tags.each do |t| %>
		<% if t.name.length <= 60 %>
		<li><%= link_to t.name, t, class: "btn btn-primary" %></li>
		<% else %>
		<li><%= link_to t.name[0..60] + "...", t, class: "btn btn-primary" %></li>
		<% end %>
		<% end %> 
	</ul>
	<% end %>
</div>
