<% provide(:title, "Tags") %>
<h1>Tag <%=@tag.name%></h1>
<div class="container">
	<ul class="ads-list">
		<% @ads.each do |a| %>
		<% if a.desc.length <= 60 %>
		<li><%= link_to a.desc + " - " + a.link, a, class: "btn " %></li>
		<% else %>
		<li><%= link_to a.desc[0..60] + "... - " + a.link, a, class: "btn " %></li>
		<% end %>
		<% end %>
	</ul>
</div>
