<% provide(:title, 'Add Payment Card') %>
<h1>Add Payment Card</h1>
<div class="container">
	<%= form_for(@payment_card) do |f| %>
	  <%= render 'shared/error_messages_payment_cards' %>   
	  
	  <div class="row">
		<%= f.label :card_num, "Card Number:", class: "fr"%>
		<%= f.text_field :card_num %>
	  </div>
	  
	  <div class="row">
		<%= f.label :expiry_date_yy, "Expiration Year:", class: "fr"%>
		<%= f.select :expiry_date_yy, (Time.zone.now.year)..(Time.zone.now.year + 6) %>
	  </div>
	  
	  <div class="row">
		<%= f.label :expiry_date_mm, "Expiration Month:", class: "fr"%>
		<%= f.select :expiry_date_mm, [1,2,3,4,5,6,7,8,9,10,11,12] %>
	  </div>
	  
	  <%= hidden_field_tag :bill_pay, @from_bill_pay %>
	  <%= hidden_field_tag :top_up, @from_top_up %>
	  
	  <div class="row">
		   <%= f.submit "Add Payment Card", id:"submit-button", class: "btn btn-primary " %>
	  </div>
	<% end %>
</div>


