<% provide(:title, 'Add Bank Details') %>
<h1>Add Bank Details</h1>
<div class="container">
	<%= form_for(@bank_details) do |f| %>
		<%= render 'shared/error_messages_bank_details' %>   
	  
		<div class="row">
			<%= f.label :name, "Bank Name:", class: "fr"%>
			<%= f.text_field :name %>
		</div>
	  
		<div class="row">
			<%= f.label :account_number, "International Bank Account Number:", class: "fr"%>
			<%= f.text_field :account_number %>
		</div>
	  
		<div class="row">
			<%= f.label :code, "BIC:", class: "fr"%>
			<%= f.text_field :code %>
		</div>
	  
		<div class="row">
			<%= f.label "Country:", class: "fr" %>
			<%= f.select :country, options_for_select(Array[*countries_list.collect{|c,i| [c,countries_list.index(c)] }]) %>
		</div>
	  
		<div class="row">		
			<%= f.label :state, "Region:", class: "fr", id: "state_label" %>
			<%= f.text_field :state %>
			</div>
			
			<div class="row">		
			<%= f.label :city, "City:", class: "fr" %>
			<%= f.text_field :city %>
			</div>
			
			<div class="row">		
			<%= f.label :zip, "Zip Code:", class: "fr", id: "zip_label" %>
			<%= f.text_field :zip %>
			</div>
			
			<div class="row">		
			<%= f.label :address, "Address:", class: "fr" %>
			<%= f.text_field :address %>
			</div>
		<%= hidden_field_tag :from_withdrawal, @from_withdrawal%>
		<div class="row">
			<%= f.submit "Add Bank Details", id:"submit-button", class: "btn btn-primary " %>
		</div>
	<% end %>
</div>
<%=javascript_include_tag "inline/country_change_listener"%>
