<% provide(:title, 'Contact Us') %>
<h1>Contact Form</h1>
<div class="container">
	<%= form_for(@feedback) do |f| %>
	  <%= render 'shared/error_messages_feedback' %>   
	  
		<div class="row">
			<%= f.label "Category:", class: "fr" %>
			<%= f.select :category, [['Bug', 0], ['Payment Related', 1], ['New Feature Suggestion', 2], ['Other', 3]] %>
		</div>
	  
		<div class="row">		
			<%= f.label :text, "Text:", class: "fr"%>
			<%= f.text_area :text, class:"feedback-text" %>
		</div>
	  
	  <div class="row">
			<%= f.submit "Send", class: "btn btn-primary " %>
	  </div>
	<% end %>
</div>
