@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
	/*
	Copyright (c) 2011, Edgar Tolentino and Pablo Impallari (www.impallari.com|impallari@gmail.com),
	Copyright (c) 2011, Igino Marini. (www.ikern.com|mail@iginomarini.com),
	with Reserved Font Names &amp;amp;quot;Dosis&amp;amp;quot;.

	This Font Software is licensed under the SIL Open Font License, Version 1.1.
	This license is available with a FAQ at: http://scripts.sil.org/OFL
	*/
    font-family: 'Dosis';
	src: asset-url("Dosis-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

html {min-height: 100%;}

body 
{ 
	margin: 0;
	background: none;
	word-break: normal;
	padding-top: 5%; 
	font-family: 'Dosis', Helvetica;
	font-size: 16pt;
}

.ui-multiselect-menu, .ui-widget-header, .ui-widget , .ui-multiselect span {font-family: 'Dosis', Helvetica !important;}

.np {padding: 0px;}
.nmb {margin-bottom: 0 !important;}

h2 {font-size: 125%; text-align: center;}
h3 {font-size: 105%;}

.feedback-link {float: right;}
.feedback-text {width: 65%;}

.block_selection
{
	display: none;
	border: 2px solid black;
	background: white;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(86, 153, 160, 0.75);
	-moz-box-shadow: 0px 0px 30px 0px rgba(86, 153, 160, 0.75);
	box-shadow: 0px 0px 30px 0px rgba(86, 153, 160, 0.75);
}

.btn-delete-ad, .btn-block-ad
{
	margin-top: 12px;
	margin-left: 3px;
	padding: 0px;
	border: none;
}

.btn-delete-ad:hover
{
	opacity: 0.5;
}

#font-size-change-container
{
    position: fixed;
    right: 5px;
    bottom: 5px;
}

#font-size-change-container img
{
	width: 48px;
	height: 48px;
}

#font-size-change-container img:hover {opacity:0.5;}

input#show_images {width: 1%; margin-right: 5px;}
input {padding-bottom: 3px;}
#search-submit-btn{border:none;background:none}
#search-submit-btn:enabled:hover{opacity:0.5}
.main-divider {margin-top: 30px; margin-bottom: 15px;}

ul.ads-list, ul.tags-list, ul.products-list, ul.top-list
{
	padding: 0px;
}

ul.ads-list li, ul.tags-list li, ul.products-list li, ul.top-list li { list-style-type: none; }

.ad-img
{
	height: auto !important;
	width: auto !important;
    max-width: 75% !important;
	border: 1px solid black;
	box-shadow: 5px 5px 10px #888888;
}

.ad-img-small
{
	margin-top: 5px;
	width: 48px;
	height: 48px;
	box-shadow: none;
}

footer 
{
	margin-top: 45px;
	padding-bottom: 50px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

.ui-multiselect {     
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 14px !important;
    line-height: 1.42857 !important;
    color: #413333 !important;
    border: 1px solid gray !important;
    background: #F3F3F3 !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    }
    
label.ui-corner-all input {width: 5% !important;}

#tags-area #tags-help {display: none;}
#tags-area:hover #tags-help {display: inline-block;}

.alert {font-size: 125%;}
.alert-notice {background: #C5DBBD;}
.alert-error 
{
	background-color: #F2DEDE;
	border-color: #EBCCD1;
	color: #A94442;
}
.alert-changed
{
	background-color: #DFF0D8;
	border-color: #D6E9C6;
	color: #3C763D;
}

.larger {font-size: 18pt;}
.largest {font-size: 20pt;}
h1 {text-align: center; margin-bottom: 15px; font-size: 200%;}
.larger h1 {font-size:225%;}
.largest h1 {font-size:250%;}
.largest .alert {margin-top:16px;}
.larger .alert {margin-top:10px;}

.center {text-align: center;}
p {margin-top: 30px; margin-bottom: 30px;}

#email-change-form input {width: 33%}
select, input:not([type="radio"]):not([type="checkbox"]) {width: 65%; text-align: left;}

.fr {display: inline-block; width: 100%;}

form.new_user .row
{
	margin-top: 5px;
}

.container label { margin-top: 10px;}

.ten-px-padding {padding-top: 10px;}

form .btn-primary
{ 
	margin-top: 20px; 
	margin-bottom: 50px;
	text-align: center;
}

.ad-image-area { margin-bottom: 10px; }

.btn-pay-bills {border: 1px solid gray;}
.btn-same { width:15%; }
.btn-primary, .btn
{
	margin-top: 1%;
	border: none;
	color: black;
	font-size: 14pt;
}
.larger .btn-primary, .larger .btn {font-size:16pt;}
.largest .btn-primary, .largest .btn {font-size:18pt;}
.btn-tag, .btn-tag-selected, .btn-product {margin-top: 5px;}

.ads-list li a.btn {padding-left: 0px;}

.tags-list li:first-child {margin-left: 0px;}
.tags-list li {display: inline; margin-left:10px; }

#chart div div svg {border: 1px solid black;}
form div .btn-primary, .btn-withdraw {width:auto !important;}
.login-form {margin-top: 45px;}
.login-form input {margin-left:auto; margin-right:auto}

.navbar img {width: 25%; height: 50%; filter: invert(100%); -webkit-filter: invert(1);}
.navbar img:hover {filter: invert(90%);}
.nav li a {color: #A6A6A6 !important;}
.nav li a:hover {color: white !important;}
.nav ul.dropdown-menu li a {color: black !important;}
.nav ul.dropdown-menu li a:hover {color: #171717 !important;}

.ad-image-area img {background: white;}

.logo-home
{
	margin-top: 15px; 
	margin-bottom: 15px;
	width: 50%;
}

.toc, .api-download-list
{
	list-style: none;
	padding: 0px;
}

.api-download-list {margin-top: 5px;}
.btn-show-ad-countries {margin-bottom: 15px;}
.btn-show-ad-countries-less-mt {margin-top: -60px;}
.countries-served {display: none;}

