html 
{
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,f2f2f2+100 */
	 background: #fcfff4; /* Old browsers */
	 background: -moz-linear-gradient(top, #fcfff4 0%, #f2f2f2 100%); /* FF3.6-15 */
	 background: -webkit-linear-gradient(top, #fcfff4 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
	 background: linear-gradient(to bottom, #fcfff4 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
}

.btn-primary, .btn-primary:visited, .btn-primary:active
{
	color: black !important;
	box-shadow: 0px 0px 10px #888888;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fceabb+0,fccd4d+50,f8b500+51,fbdf93+100;Orange+3D+%235 */
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover
{
	color: #1F1F1F;
	background: #FFF6DE; /* Old browsers */
	background: -moz-linear-gradient(top,  #FFF6DE 0%, #FFD970 50%, #FFF6DE 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #FFF6DE 0%,#FFD970 50%, #FFF6DE 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #FFF6DE 0%,#FFD970 50%, #FFF6DE 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF6DE', endColorstr='#FFF6DE',GradientType=0 ); /* IE6-9 */
}
.btn-primary[disabled] {box-shadow: 0px 0px 10px #888888 !important;}

.btn-tag, .btn-tag-selected, .btn-product, .btn-product-selected
{
	border: 1px solid gray;
	color: black;
	margin-top: 0px;
}

.btn-tag, .btn-product 
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7f2f2+0,e5e5e5+50,f7f2f2+100 */
	background: #f7f2f2; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f2f2 0%, #e5e5e5 50%, #f7f2f2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #f7f2f2 0%,#e5e5e5 50%,#f7f2f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #f7f2f2 0%,#e5e5e5 50%,#f7f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f2f2', endColorstr='#f7f2f2',GradientType=0 ); /* IE6-9 */
	margin-top: 0px;
}
 
.btn-tag-selected, .btn-product-selected
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2dede+0,d1d1d1+50,e2dede+100 */
	background: #e2dede; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2dede 0%, #d1d1d1 50%, #e2dede 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #e2dede 0%,#d1d1d1 50%,#e2dede 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #e2dede 0%,#d1d1d1 50%,#e2dede 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dede', endColorstr='#e2dede',GradientType=0 ); /* IE6-9 */
	margin-top: 0px;
}
