html 
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2e2e2+0,dbdbdb+50,d1d1d1+51,fefefe+100 */
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
}

.alert {border: 1px solid black;}

.btn-primary, .btn-primary:visited, .btn-primary:active
{
	color: black !important;
	box-shadow: 0px 0px 10px #888888;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6f8+0,d8e1e7+50,b5c6d0+51,e0eff9+100;Grey+Gloss+%232 */
	background: rgb(242,246,248); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,246,248,1) 0%, rgba(216,225,231,1) 50%, rgba(181,198,208,1) 51%, rgba(224,239,249,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(242,246,248,1) 0%,rgba(216,225,231,1) 50%,rgba(181,198,208,1) 51%,rgba(224,239,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover
{
	color: #1F1F1F;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8fbfc+0,ecf1f4+50,dae3e8+51,f0f7fc+100 */
	background: rgb(248,251,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,251,252,1) 0%, rgba(236,241,244,1) 50%, rgba(218,227,232,1) 51%, rgba(240,247,252,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(248,251,252,1) 0%,rgba(236,241,244,1) 50%,rgba(218,227,232,1) 51%,rgba(240,247,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(248,251,252,1) 0%,rgba(236,241,244,1) 50%,rgba(218,227,232,1) 51%,rgba(240,247,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbfc', endColorstr='#f0f7fc',GradientType=0 ); /* IE6-9 */
}
.btn-primary[disabled] {box-shadow: 0px 0px 10px #888888 !important;}

.ui-widget-header 
{
	border: 1px solid gray;
	background: rgb(248,251,252); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(248,251,252,1) 0%, rgba(236,241,244,1) 50%, rgba(218,227,232,1) 51%, rgba(240,247,252,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(248,251,252,1) 0%,rgba(236,241,244,1) 50%,rgba(218,227,232,1) 51%,rgba(240,247,252,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(248,251,252,1) 0%,rgba(236,241,244,1) 50%,rgba(218,227,232,1) 51%,rgba(240,247,252,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8fbfc', endColorstr='#f0f7fc',GradientType=0 ); /* IE6-9 */
}
.ui-icon-triangle-2-n-s, .ui-icon-circle-close {filter: grayscale(100%); filter: invert(100%); -webkit-filter: grayscale(1); -webkit-filter: invert(1) }
.ui-helper-reset li a {color: black;}
.ui-icon-check, .ui-icon-closethick {display: none;}
.ui-widget-content .ui-state-hover{
	color: black;
	border: 1px solid gray;
	background: lightgray;
}

.btn-tag, .btn-tag-selected, .btn-product, .btn-product-selected
{
	border: 1px solid gray;
	color: black;
	margin-top: 0px;
}

.btn-tag, .btn-product 
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f5f4+0,eaeaea+50,f8f5f4+100 */
	background: rgb(248,245,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(248,245,244,1) 0%, rgba(234,234,234,1) 50%, rgba(248,245,244,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(248,245,244,1) 0%,rgba(234,234,234,1) 50%,rgba(248,245,244,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(248,245,244,1) 0%,rgba(234,234,234,1) 50%,rgba(248,245,244,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f5f4', endColorstr='#f8f5f4',GradientType=0 ); /* IE6-9 */
}
 
.btn-tag-selected, .btn-product-selected
{
	background: lightgray;
}

