<% provide(:title, "Software Products") %>
<h1>Software Products</h1>
<div class="container">
	<div class="row">
		<% if @products.length == 0 %>
		You did not add any software products.
		<% else %>
		<ul class="np">
		<% @products.each do |p| %>
		<li class="btn btn-product">
		<% if p.title.length <= 60 %>
		<%= p.title %>
		<% else %>
		<%= p.title[0..60] + "..." %>
		<% end %>
		</li>
		<% end %>
		</ul>
	</div>
	<div class="row">
		<span class="btn btn-primary " id="delete-btn" disabled="disabled">Delete Selected Products</span> 
		<span class="btn btn-primary " id="block-btn" disabled="disabled">Block Tags In Selected Products</span>
	</div>
	<% end %>
</div>
<%=javascript_include_tag "inline/products_delete_block_helper"%>
