<% provide(:title, 'Add Software Product') %>
<h1 class= "center">Add Software Product</h1>
<%= form_for(@product) do |f| %>
	<%= render 'shared/error_messages_product' %>   
	
	<% if @product.title != nil %>
	<% @product.title = @product.title[0..@product.title.length-2] %>
	<% end %>
	
	<div class="row">
		<%= f.label :title, "Software Product Title:", class: "fr" %>
		<%= f.text_field :title %>
	</div>
	
	<div class="row">		
		<%= f.submit "Add Product", class: "btn btn-primary " %>
	</div>
<% end %>
	
