<footer class="footer">
	<div class="row">
		<div class="col-md-6">AdPush, 2015 - 2016</div>
		<div class="col-md-6" style="text-align:right;">
		<%= link_to "Terms & Conditions", terms_and_conditions_path %>
		<%= link_to "Contact Us", leave_feedback_path, style:"margin-left:15px;" %>
		<%= link_to "Help", help_path, style:"margin-left:15px;" %>
		<%= link_to "API", api_path, style:"margin-left:15px;" %>
		</div>
	</div>
	<div id="font-size-change-container">
		<%= image_tag("font_increase.png", :alt => "Increase Font Size", :id => "font-increase-button") %>
		<%= image_tag("font_decrease.png", :alt => "Decrease Font Size", :id => "font-decrease-button") %>
	</div>
</footer>
<%=javascript_include_tag "inline/font_size_change_listener"%>
<% begin %>
<span style="display: none;" id="font-size-val"><%=current_user.font_size%></span>
<% rescue %>
<span style="display: none;" id="font-size-val">0</span>
<% end %>
