<%= javascript_include_tag 'js.cookie' %>
<%= javascript_include_tag "inline/cookies_warning"%>
<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'jquery-ui.min' %>
<%= stylesheet_link_tag 'jquery.multiselect' %>
<% begin %>
	<% if current_user.color_scheme == 0 %>
	<%= stylesheet_link_tag 'orange' %>
	<% else %>
	<%= stylesheet_link_tag 'silver' %>
	<% end %>
	<% rescue %>
	<%= stylesheet_link_tag 'orange' %>
<% end %>
<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<nav>
			<a href="/"><%= image_tag("logo.png")%></a>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<% if logged_in? %>
				<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				Account <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><%= link_to "Control Panel", current_user %></li>
					<li class="divider"></li>
					<li>
					<%= link_to "Log out", logout_path, method: "delete" %>
					</li>
				</ul>
				</li>
				<% else %>
				<li><%= link_to "Log in", login_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>
