 <!DOCTYPE html>
 <html>
 
	 <head>
		 <title>AdPush | <%= yield(:title) %></title>
		 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		 <%= csrf_meta_tags %>
		 <!--[if lt IE 9]>
		 <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
		 </script>
		 <![endif]-->
	 </head>
	 
	 <body data-no-turbolink="true">
		 <div class="container">
		 <%= render 'layouts/header' %>
		 <% flash.each do |message_type, message| %>   
		 <div class="alert alert-<%= message_type %>"><%= message %></div>
		 <% end %>                                     
		 <%= yield %>
		 <%= render 'layouts/footer' %>
	 	</div>
	 </body>
 
 </html>
